In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
# Store csv created in part one into a DataFrame
file='../WeatherPy/HWOutput_data/cities.csv'
cities_df=pd.read_csv(file)
cities_df['City_ID']=cities_df.index
cities_df.head()

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed,City_ID
0,Bredasdorp,0,ZA,1570554663,40,-34.53,20.04,71.60,16.11,0
1,Qaanaaq,86,GL,1570554663,67,77.48,-69.36,20.03,10.27,1
2,Butaritari,100,KI,1570554663,66,3.07,172.79,85.37,12.02,2
3,Prince Rupert,1,CA,1570554630,69,54.32,-130.32,39.20,8.05,3
4,Bubaque,98,GW,1570554663,76,11.28,-15.83,81.59,13.09,4

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
# Configure gmaps
gmaps.configure(api_key=g_key)


# Fill NaN values and convert to float
cities_df.fillna(0)
humidity = cities_df["Humidity"].astype(float)

In [4]:
locations = cities_df[["Lat", "Lng"]]
fig = gmaps.figure()

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=100,
                                 point_radius=2)


# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of humidity

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [5]:
# Narrow down cities that fit criteria and drop any results with null values
narrow_df=cities_df.loc[cities_df["Max Temp"]>70,:]
narrow_df=narrow_df.loc[narrow_df["Max Temp"]<80,:]
narrow_df=narrow_df.loc[narrow_df["Cloudiness"]==0,:]
narrow_df=narrow_df.loc[narrow_df["Wind Speed"]<10,:]
narrow_df.dropna()
narrow_df.head()

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed,City_ID
38,Labuhan,0,ID,1570554669,85,-2.54,115.51,72.59,1.85,38
43,Chuy,0,UY,1570554670,54,-33.69,-53.46,70.25,8.75,43
48,Chiang Rai,0,TH,1570554671,94,19.90,99.84,73.40,3.36,48
80,Bandarbeyla,0,SO,1570554677,77,9.49,50.81,77.45,8.63,80
90,Utiel,0,ES,1570554679,61,39.57,-1.21,79.00,9.17,90

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [6]:
# Create DataFrame called hotel_df to store hotel names along with city, country and coordinates
hotel_df= narrow_df[["City","Country","Lat","Lng"]].copy()
hotel_df["Hotel Name"]=""
hotel_df.head()

           City Country    Lat     Lng Hotel Name
38      Labuhan      ID  -2.54  115.51
43         Chuy      UY -33.69  -53.46
48   Chiang Rai      TH  19.90   99.84
80  Bandarbeyla      SO   9.49   50.81
90        Utiel      ES  39.57   -1.21

In [7]:
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
params = {
    "location": "-2.54,115.51",  
    "radius":5000,
    "type": "lodging",
    "key": g_key,
}
response = requests.get(base_url, params=params).json()
results = response['results'][0]["name"]
results

'Pondok Indah Gula Habang'

In [8]:
# Set parameters to search for a hotel
params = {
    "radius":5000,
    "type": "lodging",
    "key": g_key,
}
# Iterate through 
for index, row in hotel_df.iterrows():
    lat = row['Lat']
    lng = row['Lng']
    
    params['location']= f'{lat},{lng}'
    
    url="https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    response = requests.get(base_url, params=params).json()
    
    try:
        results=response['results'][0]['name']
        hotel_df.loc[index, 'Hotel Name'] = results
    
    except (KeyError, IndexError):
        hotel_df.loc[index,'Hotel Name']='No Hotel'
        print("Missing field/result... skipping.")
        
hotel_df

Missing field/result... skipping.

,City,Country,Lat,Lng,Hotel Name
38,Labuhan,ID,-2.54,115.51,Pondok Indah Gula Habang
43,Chuy,UY,-33.69,-53.46,Nuevo Hotel Plaza
48,Chiang Rai,TH,19.90,99.84,Nak Nakara Hotel
80,Bandarbeyla,SO,9.49,50.81,REER XOOSHLE GROUP
90,Utiel,ES,39.57,-1.21,Hotel Restaurante El Tollo
146,Marau,BR,-28.45,-52.20,Hotel Pousada Tordilho Negro
172,Sur,OM,22.57,59.53,Sur Plaza Hotel
201,Luba,PH,17.32,120.70,No Hotel
229,Ardakan,IR,32.31,54.02,Ardakan Hotel
236,Tapes,BR,-30.67,-51.40,Cabanas Camping Union
300,Tonk,IN,26.16,75.79,Hotel Sheetal
345,Buin,CL,-33.73,-70.74,Hostal Donde La Turca
390,Porto Torres,IT,40.84,8.40,Hotel Elisa
392,Rincon de La Victoria,BO,-21.52,-64.81,La Poza del Pato
397,Semnan,IR,35.58,53.39,Semnan Tourist Hotel
429,Dalbandin,PK,28.90,64.41,Sanjrani House
439,Bharwari,IN,25.56,81.49,Shishu Mandir Guest House
465,San Quintin,PH,17.54,120.52,San Quintin River Resort
479,Dera Bugti,PK,29.03,69.15,SARDAR GHULAM MUSTAFA KHAN BUGTI

In [50]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row

hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [12]:
gmaps.configure(api_key=g_key)

locations = cities_df[["Lat", "Lng"]]
locations1 = hotel_df[["Lat", "Lng"]]

fig = gmaps.figure()

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=100,
                                 point_radius=2)

info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row

hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

hotel_layer = gmaps.marker_layer(
    locations1,
    info_box_content=hotel_info
)


# Add layer
fig.add_layer(heat_layer)
fig.add_layer(hotel_layer)


# Display figure
fig

Figure(layout=FigureLayout(height='420px'))